.background{
	background-color: #eee;
	text-align: center;
}
.login{
	background-color: #fff;
	width: 500px;
    position: absolute;
    border-radius: 5px;
    margin: 20%;
}
.form-horizontal{
	padding: 30px;
}
input{
	border-radius: 5px;
}